# This is a basic workflow to help you get started with Actions

name: build and deploy

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master

  


jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: npm install, build, and test
        run: |
          npm install
          npm run build --if-present
          npm test
          
      - name: Checks out dist
        uses: actions/checkout@v2
        with:
          path: |
            dist

      
        
